-d https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-build/base-requirements.txt

astropy
baseband==4.1.3
importlib-resources
katdal @ git+https://github.com/ska-sa/katdal
katpoint @ git+https://github.com/ska-sa/katpoint
katsdptelstate @ git+https://github.com/ska-sa/katsdptelstate
matplotlib
numpy
pandas
scipy
